@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Gobal */

.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}

.display-flex{
    display: flex;
}

.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

.primary-btn{
    font-size: 1.25rem;
    text-align: center;
    color: white;
    background-color: #FF900E;
    border: none;
    padding: 21px 24px 20px 25px;
    border-radius: 8px;
}


/* Header */

.navbar{
    justify-content: space-between;
    align-items: center;

}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    width: 100%;
}

/* Responsive */

@media screen and (max-width: 756px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}