@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Gobal */

.text-primary{
    color: #FF900E;
}

.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}

.display-flex{
    display: flex;
}

.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

.primary-btn{
    font-size: 1.25rem;
    text-align: center;
    color: white;
    background-color: #FF900E;
    border: none;
    padding: 21px 24px 20px 25px;
    border-radius: 8px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}


/* Header */

.navbar{
    justify-content: space-between;
    align-items: center;

}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    width: 100%;
}

/* Team */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

.features-description{
    margin-bottom: 32px;
}

/* Second features */

.features{
    gap: 140px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-architect img{
    width: 100%;

}

#experience-badge{
    padding: 46px 42px;
    margin-top: -110px;
    margin-left: -100px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}





/* Some Facts */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
}


/* Our Sponspors */

.Sponspor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.Sponspor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Sponspor-companies img{
    filter: grayscale(100%);
}

/* Footer */

footer{
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding: 40px 410px;
    margin-top: 130px;
    margin-bottom: 130px;
    margin: 60px;
    
}






/* =========================================================== */

/* Responsive for mobile device */

@media screen and (max-width: 756px) {
    .navbar, 
    .nav-links, 
    .teams,
    .features{
        flex-direction: column;
    }
    .team-img-container, 
    .facts-container,
    .Sponspor-companies{
        grid-template-columns: 1fr;
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }

    .Sponspor-companies{
        justify-items: center;
        gap: 50px;
    }

    .our-features{
        margin-left: 20px;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    footer{
        background-color: #FFF4E7;
        border-radius: 8px;
        text-align: center;
        padding: 20px 20px;
    }
}

/* Responsive for medium device */

@media screen and (min-width: 756px) and (max-width: 992px){
    .teams, 
    .features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .Sponspor-companies,
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    footer{
        background-color: #FFF4E7;
        border-radius: 8px;
        text-align: center;
        padding: 20px 20px;
    }

}